[Unit]
Description=FluidSynth Software Synthesizer
After=sound.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/organcontroller/scripts/start_fluidsynth.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
